.kliqr-listItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 24px;
  text-decoration: none;
  color: black;
  transition: all 300ms ease-in-out;

  cursor: pointer;

  //   .kliqr-listItem__loader {
  //   }

  // background: blanchedalmond;

  .kliqr-listItem__info {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12px;
    flex: 1;

    .kliqr-listItem__info__title {
      margin: 0;
      font-size: 1.1rem;
      font-weight: 400;
      margin-bottom: 5px;
    }

    .kliqr-listItem__info__description {
      font-weight: 300;
      font-size: 0.7rem;
      display: inline-flex;
      align-items: center;

      .dot {
        margin: 0 5px;
      }
    }
  }

  .kliqr-listItem__arrow {
    width: 14px;
    height: 14px;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    transition: all 300ms ease-in-out;
  }

  &:hover,
  &.kliqr-listItem--selected {
    background: rgba(#e7eced, 0.5);
    transition: all 300ms ease-in-out;
    position: sticky;
    // top: 60px;
    // z-index: 9999;

    .kliqr-listItem__arrow {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
      transition: all 300ms ease-in-out;
    }
  }
}
