.kliqr-topFiveCategories {
  flex: 1;

  .kliqr-topFiveCategories__title {
    line-height: 20.49px;
    font-size: 0.99rem;
    font-weight: 500;
    margin: 18px 0;
    margin-bottom: 34px;
  }

  .kliqr-topFiveCategories__list {
    display: inline-flex;
    flex-direction: row;
  }

  .kliqr-topFiveCategories__icon-skeleton {
    width: 60px;
    height: 50px;
    border-radius: 11px;
    box-shadow: 0px 1px 4px 4px #00000008;
    margin-right: 14px !important;

    &:last-child {
      margin-right: 0;
    }
  }

  .kliqr-topFiveCategories__icon {
    width: 60px;
    height: 50px;
    border-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #a7c5eb;
    box-shadow: 0px 1px 4px 4px #00000008;
    overflow: hidden;
    margin-right: 14px;

    &:last-child {
      margin-right: 0;
    }

    img {
      max-width: 30px;
      max-height: 30px;
      object-fit: contain;
    }
  }
}
